<div class="content">
  <div>
      <h3>Reporte de Usuario</h3>
      <!--<small>{{ 'dashboard.WELCOME' | translate }} !</small>-->
      <div>
          <label class="mr-2">Formato: </label>
          <select class="formato" id="select1">
            <option class="mr-2" selected="selected"></option>
          </select>
          <button class="btn_generar ml-2" id="generar" name="generar">Generar Reporte</button>
      </div>
  </div>
  </div>
  <nav class="navbar">
      <span class="navbar-brand"></span>
  </nav>