<div class="content">
    <div>
        <h3>Administración de Usuarios</h3>
        <h4>Filtro de Busqueda</h4>
        <!--<small>{{ 'dashboard.WELCOME' | translate }} !</small>-->
        <div>
            <label class="mr-2">Perfil: </label>
            <select class="perfil"id="select1">
                <option class="mr-2" selected="selected">----------</option>
            </select>
            <label class="mr-2 ml-2">Nombre Usuario: </label>
                <input class="nombre_usuario" type="text" id="name" name="name"/>
            <label class="mr-2 ml-2">Nombres: </label>
                <input class="nombres" type="text" id="name" name="name"/>
            <label class="mr-2 ml-2">Empresa: </label>
            <select class="empresa" id="select2">
                <option class="mr-2" selected="selected">Fundación Mi Casa</option>
            </select>
            <button class="btn_buscar ml-2" id="buscar" name="buscar">Buscar</button>
            <button class="btn_buscar ml-2" id="buscar2" name="buscar2">Crear Usuario</button>
        </div>
    </div>
</div>
<nav class="navbar">
    <span class="navbar-brand">Usuarios</span>
</nav>
<div class="card card-default">
    <table class="table table-light">
    <thead>
        <tr>
            <th scope="col">ID Dpto.</th>
            <th scope="col">Empresa</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
    </table>
</div>